#EXTEND /static/base.html
#SECTION example_title
    MicroPython lightweight web framework
#END example_title
#SECTION example_content
    <div class="example-container">
        <a href="{{basic_page_url}}">
            <h3>
                Basic Page Example
            </h3>
        </a>
    </div>
    <div class="example-container">
        <a href="{{form_page_url}}">
            <h3>
                Form Page Example
            </h3>
        </a>
    </div>
    <div class="example-container">
        <a href="{{url_parth_params_url}}">
            <h3>
                Basic Page with url path params Example
            </h3>
        </a>
    </div>
    <div class="example-container">
        <a href="{{download_file_url}}">
            <h3>
                Download File Example
            </h3>
        </a>
    </div>
    <div class="example-container">
        <a href="{{cookies_page_url}}">
            <h3>
                Cookies
            </h3>
        </a>
    </div>
#END example_content